body {
  font-family: 'Roboto', sans-serif;
    z-index: 900;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}



li {
  float: left; 
}

li a {;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

h {
  font-family: 'Roboto Black', sans-serif;
  font-size: 64px; 
    position: relative;
    top: 50%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

#showcase{
  min-height:450px;
  background:url('../img/coding.jpg') 0 -100px;
  text-align:center;
  color:#ffffff;
    z-index: 850;
}
  
