body {
  font-family: 'Roboto', sans-serif;
  margin:0;
  background:url('../computer-keyboard-34153.jpg') 0 0px;
   background-size: cover;
 background-repeat: no-repeat;
 background-color: #242424;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#text {
  background-color: red
}

li {
  float: left;
}

li a {;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.filler) {
  background-color: #FB6A38;
}

li a:hover:not(.active) {
  background-color: #111;
}

.filler {
  background-color: #242424;
  opacity: 0;
}

.active {
  background-color: #EB6A38;
}

.tb {
  margin:0;
  text-align:center;
  width: 50%;
  height:400px;
  background-color: #E8E8E8;
}

.tb h1 {
  font-family: 'Roboto Black', sans-serif;
  font-size: 64px;
  text-align:center;
  color: #454545;
  padding: 5px;
  margin: 50px;
}
.tb p {
  margin-left: 10%;
  width: 80%;
  font-size: 24px;
  font-family: 'Roboto Light', sans-serif;
  text-align:center;
  color: #454545;
}

.tb a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #EB6A38;
  padding: 14px;
}

img {
  margin-left: 50%;
  width: 50%;
  background-color: #E8E8E8;
   background-size: cover;
 background-repeat: no-repeat;
}

.tbr {
    margin:0;
    margin-left: 50%;
    width: 50%;
    height:400px;
    background-color: #E8E8E8;
}

.tbr h1 {
  font-family: 'Roboto Black', sans-serif;
  font-size: 64px;
  text-align:center;
  color: #454545;
}
.tbr p {
  margin-left: 10%;
  width: 80%;
  font-family: 'Roboto Light', sans-serif;
  text-align:justify;
  color: #454545;
}

#showcase{
  min-height:200px;
  text-align:center;
  color:#ffffff;
  z-index: -1;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}






@import url(https://fonts.googleapis.com/css?family=Dosis:500);

.timeline{
  counter-reset: month 0;
  position: relative;
  z-index: 0
}

.timeline li{
  list-style: none;
  float: left;
  width: 40%;
  height: 150px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
}

ul:nth-child(1){
  color: #4caf50;
}

.timeline li:before{
  counter-increment: month;
  content: counter(month);
  width: 50px;
  height: 50px;
  border: 3px solid #4caf50;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 50px;
  margin: 0 auto 10px auto;
  background: #F1F1F1;
  color: #000;
  transition: all ease-in-out .3s;
  cursor: pointer;
}


.timeline li:first-child:after{
  content: none;
}
.timeline li.finished{
  color: #555555;
}
.timeline li.finished:before{
  background: #4caf50;
  border-color: #4caf50;
  color: #F1F1F1;
}

.timeline li.finished + li:after{
  background: #4caf50;
}

.timeline li.rc{
  color: #555555;
}
.timeline li.rc:before{
  background: #B050AB;
  border-color: #B050AB;
  color: #F1F1F1;
}

.timeline li.rc + li:after{
  background: #B050AB;
}

.timeline li.beta{
  color: #555555;
}
.timeline li.beta:before{
  background: #4F54AF;
  border-color: #4F54AF;
  color: #F1F1F1;
}

.timeline li.beta + li:after{
  background: #4F54AF;
}

.timeline li.wip{
  color: #555555;
}
.timeline li.wip:before{
  background: #572A27;
  border-color: #572A27;
  color: #F1F1F1;
}

.timeline li.wip + li:after{
  background: #572A27;
}
