@import url(https://fonts.googleapis.com/css?family=Dosis:500);

body{
  background: #F1F1F1;
}

.container{
    width: auto;
    margin: 200px auto;
}

.econtainer{
}

.timeline{
  counter-reset: month 0;
  position: relative;
}

.timeline li{
  list-style: none;
  float: left;
  width: 40%;
  height: 150px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
}

ul:nth-child(1){
  color: #4caf50;
}

.timeline li:before{
  counter-increment: month;
  content: counter(month);
  width: 50px;
  height: 50px;
  border: 3px solid #4caf50;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 50px;
  margin: 0 auto 10px auto;
  background: #F1F1F1;
  color: #000;
  transition: all ease-in-out .3s;
  cursor: pointer;
}


.timeline li:first-child:after{
  content: none;
}
.timeline li.finished{
  color: #555555;
}
.timeline li.finished:before{
  background: #4caf50;
  border-color: #4caf50;
  color: #F1F1F1;
}

.timeline li.finished + li:after{
  background: #4caf50;
}

.timeline li.rc{
  color: #555555;
}
.timeline li.rc:before{
  background: #B050AB;
  border-color: #B050AB;
  color: #F1F1F1;
}

.timeline li.rc + li:after{
  background: #B050AB;
}

.timeline li.beta{
  color: #555555;
}
.timeline li.beta:before{
  background: #4F54AF;
  border-color: #4F54AF;
  color: #F1F1F1;
}

.timeline li.beta + li:after{
  background: #4F54AF;
}

.timeline li.wip{
  color: #555555;
}
.timeline li.wip:before{
  background: #572A27;
  border-color: #572A27;
  color: #F1F1F1;
}

.timeline li.wip + li:after{
  background: #572A27;
}
